div.main {
  background-color: #262620;
}

/* NAVBAR */

h2.title {
  font-family: 'Old Standard TT', serif;
}

/* DATE WIDGET */

.dates {
  border-bottom: 1px solid #FFF8B6;
}

.maindate-container {
  text-align: center;
}

.vintage-maindate {
  font-family: 'Biryani', sans-serif;
  color: #FFF;
  margin: 5px 0;
  font-size: 24px;
}

.vintage-date {
  font-family: 'Biryani', sans-serif;
  color: #FFF;
  font-size: 14px;
}

.top-navbar {
  padding: 10px 0;
  background-color: #262620;
  color: #FFFFFF;
  text-align: center;
  border-bottom: 1px solid #FFF8B6;
}

.centrix {
  margin-top: 10px;
  margin-left: 25%;
  width: 50%;

}

@media only screen and (max-width: 700px) {
  .centrix {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
  }
}

.slider-date-right {
  text-align: right;
}

.rangeslider {
  margin-top: 5px;
  margin-bottom: 35px;
}





/* MINOR MENU */

.minor-navbar {
  /* margin: 0 auto;
  width: 100%;
  margin-left: 25%;
  /* border-bottom: 1px solid #FFF8B6; */
}

.minor-navbar li {
  width: 33.1%;
  text-align: center;
}


.menu-link {
  font-family: 'Old Standard TT', serif;
  color: #E6E6E6;
  font-size: 19px;
  /* border-left: 1px solid #FFF8B6;
  border-right: 1px solid #FFF8B6; */

}

.active {
  color: #262620;
  background-color: #FFF8B6;
  /* border: 1px solid #FFF8B6; */

}

.menu-link:hover {
  color: #FFF8B6;
  border: 1px solid #FFF8B6;
  margin-bottom: -2px;
  background-color: #B08C36;
}


/* STOCKS CONTAINER */


.loading-msg {
  color: #FFF8B6;
  margin-left: 20%;
}

div.stock-box-title {
  color: #FFF;
  text-align: center;
}

.quotations{
  padding-top: 6px;
}

.quotations, .filter-stock {
  border-bottom: 1px solid #FFF8B6;
  margin-bottom: 0;
  font-family: 'Biryani', sans-serif;
}

.filter-stock {
  padding: 8px 0;
}

table.account th {
  text-align: center;
  color: #FFF8B6;
  font-family: 'Biryani', sans-serif;
  padding: 2px;
}

table.account td{
  color: #FFF8B6;
  font-family: 'Biryani', sans-serif;
  padding: 2px;
}









table {
  font-family: 'Times', serif;
}




.show-date-container {
  text-align: right;
  padding: 10px 50px;
}


div.stock-box, th, td {
  /* background-color: #191915; */
  background-color: #262620;
  color: #B08C36;
}



/* #FFF8B6 */

/* .top-bar-left > *, top-bar-right > * {
  background-color: #2A2A2A;
  color: #EAEAEA;
} */
